@use '../../../variables.scss' as vars;

.tools__container {
	display: flex;
	justify-content: center;
	gap: 5px;
	// padding: 10px;
	align-items: center;
	
	svg {
		font-size: vars.$large-text-size;
		transition: 0.3s all ease-out;
		fill: vars.$accent-color;
		border-radius: 5px;
		padding: 3px;
	}
	svg:hover {
		cursor: pointer;
		background-color: vars.$accent-color;
		fill: vars.$main-color;
	}
}

.tools__burger-menu {
	position: relative;
	display: flex;
	flex-direction: column;
}

@media (max-width: 1100px) {
	.tools__container {
		gap: 0px;
	}
}
