@use '../../../variables.scss' as vars;

.tools-container {
	display: flex;
	justify-content: center;
	gap: 10px;

	svg {
		font-size: vars.$large-text-size;
		transition: 0.3s all ease-out;
		fill: vars.$accent-color;
		padding: 3px;
		border-radius: 5px;
	}
	svg:hover {
		cursor: pointer;
		background-color: vars.$accent-color;
		fill: vars.$main-color;
	}
}
