@use '../../../../variables.scss' as vars;

.group-container {
	background-color: var(--secondary-main-color);
	border-radius: 12px;
	width: 270px;
	border: 1px black;
	height: fit-content;
	max-height: 70vh;

	.group-header {
		display: flex;
		flex-direction: column;
		border-bottom: 1px white solid;
		margin: 0;
		padding: 10px;
		gap: 10px;
		h4 {
			margin: 0;
		}
	}
}

.group-header__title {
	color: var(--accent-color);
	display: flex;
	align-items: center;
	// justify-content: center;
	gap: 10px;

	svg {
		font-size: var(--medium-text-size);
		color: var(--accent-color);
		&:first-child {
			cursor: grab;
			transition: 0.2s background-color ease;
			border-radius: 5px;
		}
		&:first-child:active {
			cursor: grabbing;
			background-color: var(--accent-color);
			color: var(--main-color);
		}
		&:nth-child(2) {
			cursor: pointer;
		}
	}
}

.group-tasks {
	height: fit-content;
	// max-height: 70vh;
	overflow-y: auto;
	background-color: var(--secondary-main-color);
	border-radius: 12px;
	max-height: 0;
	transition: 0.2s all ease;

	// &--open {
	// 	max-height: 70vh;
	// }
}

.group-tasks--open {
	max-height: 70vh;
}

.task-arrow {
	transition: 0.22s all ease-in;
	&--open {
		transition: 0.22s all ease-in;
		transform: rotate(90deg);
	}
}
