@use '../../../variables.scss' as vars;

.note-container {
	background-color: var(--main-color);
	text-align: center;
	transition: var(--theme-toggle-transition);
	width: 100%;
	&.notes__groups div {
		transition: var(--theme-toggle-transition);
	}
}
.note__groups {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	padding-inline: 30px;
}

.note__header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	color: var(--accent-color);
	h2 {
		flex: 1;
	}

	.note__header-tools {
		display: flex;
		align-items: center;
		// background-color: --secondary-main-color;
		border-radius: 8px;
		font-size: var(--large-text-size);
		margin-inline: 20px;
		padding: 5px 8px;

		svg {
			transition: 0.2s all ease;
			border-radius: 5px;
			padding: 2px;
			&:hover {
				cursor: pointer;
				color: var(--main-color);
				background-color: var(--accent-color);
			}
		}
	}
}

.group-task {
	display: flex;
	box-sizing: border-box;
	border: 1px var(--secondary-accent-color) solid;
	background-color: var(--accent-color);
	// color: var(--accent-color);
	color: var(--main-color);

	padding-inline: 10px;
	align-items: center;
	border-radius: 12px;
	justify-content: center;
	cursor: grab;
	margin: 15px 5px;
	transition: 0.2s all ease-in;
	user-select: none;

	&--done {
		background-color: var(--third-accent-color);
		border-color: var(--third-accent-color);
	}

	&:active:not(:has(input:active)) {
		margin: 10px 3px;
		cursor: grabbing;
		background-color: var(--secondary-main-color);
		color: var(--accent-color);
		border: 3px var(--accent-color) solid;
		input[type='checkbox'] {
			border-color: var(--secondary-accent-color);
		}
	}
	p {
		user-select: contain;
		cursor: default;
		word-wrap: break-word;
		margin: 0;
		padding: 5px;
		padding-inline: 10px;
		max-width: 70%;
		overflow-wrap: break-word;
		word-break: break-word;
		padding-inline: 10px;
		flex: 1;
		&:active {
			cursor: grabbing;
		}
	}

	input {
		box-shadow: none;
		padding: 0;
		margin: 0;
		width: auto;
		&:hover,
		&:focus {
			box-shadow: none;
		}
	}
	&:hover {
		svg {
			opacity: 1;
		}
	}
	svg {
		cursor: pointer;
		transition: 0.2s all ease-in;
		border-radius: 50%;
		padding: 2px;
		opacity: 0;
		font-size: var(--small-text-size);
	}
	svg:hover {
		background-color: var(--main-color);
		color: var(--accent-color);
	}
}

@media (max-width: 1100px) {
	.note__groups {
		justify-content: center;
	}
}
