@use '../../../variables.scss' as vars;

.filter-container {
	padding-top: 15px;
}

.filter-input {
	margin: 15px;
	transition: 0.3s all ease;
	display: flex;
	align-items: center;
	background-color: vars.$secondary-main-color;
	border-radius: 12px;
	padding-inline: 10px;
	input {
		background-color: vars.$secondary-main-color;
		border-color: none;
		box-shadow: none;
		&:hover {
			box-shadow: none;
		}
		&:focus {
			box-shadow: none;
		}
	}

	&:hover {
		box-shadow: 0 0 0 0.1vw vars.$secondary-accent-color;
	}
	&.focus {
		box-shadow: 0 0 0 0.1vw vars.$accent-color;
	}
}
