@use '../../../variables.scss' as vars;

.input-container {
	// width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// gap: 15px;
	padding: 0 20px;
	background-color: var(--main-color);
	// border: 2px --accent-color solid;
	border-radius: 22px;
	border: 2px var(--accent-color) solid;
}

.input__label-container {
	background-color: var(--accent-color);
	color: var(--main-color);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 15px 20px;
	font-size: var(--medium-text-size);
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 1px var(--accent-color) solid;
	width: 100%;
}

.input__field {
	text-align: center;
	padding: 30px;
	border-bottom-left-radius: 15px;

	border-bottom-right-radius: 15px;
}

.input,
.input[type='date'] {
	color: var(--accent-color);

	font-weight: 500;
	font-size: 17px;
	background-color: var(--secondary-main-color);
	box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
	border-radius: 0.4vw;
	border: none;
	width: 100%;
	outline: none;
	padding: 0.4vw;
	box-sizing: border-box;
	transition: 0.4s;
	max-width: 220px;
}

.input:hover,
.textarea:hover {
	box-shadow: 0 0 0 0.1vw var(--secondary-accent-color);
}

.input:focus,
.textarea:focus {
	box-shadow: 0 0 0 0.1vw var(--accent-color);
}

::-webkit-calendar-picker-indicator {
	background-color: var(--accent-color);
	background-color: var(--secondary-main-color);
	border-radius: 7px;
	padding: 5px;
	cursor: pointer;
}

@media (max-width: 920px) {
	.input[type='date'] {
		width: 80%;
	}

	.description textarea {
		font-size: 12px;
	}
}
