@use '../../../variables.scss' as vars;

.tab-container {
	border: 2px, vars.$accent-color solid;
	display: flex;
	// justify-content: space-between;
	align-items: center;
	padding-inline: 10px;
	border-radius: 12px;
	gap: vars.$standart-text-size;
	font-size: vars.$standart-text-size;
	color: vars.$accent-color;
	transition: 0.3s all ease-out;

	p {
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 130px;
		margin: 0;
		pointer-events: none;
	}

	&.active {
		background-color: vars.$accent-color;
		color: vars.$secondary-main-color;
	}

	svg {
		font-size: vars.$small-text-size;
		transition: 0.3s all ease-out;
		padding: 2px;
		border-radius: 50%;
	}
	svg:hover {
		cursor: pointer;
		background-color: vars.$main-color;
		color: vars.$accent-color;
	}
}

.tab-container:hover {
	cursor: pointer;
	background-color: vars.$secondary-accent-color;
	color: vars.$main-color;
	border-color: vars.$secondary-accent-color;
}
