// $main-color: #090909;
$main-color: #121212;
$secondary-accent-color: #c9cac9;
$accent-color: white;
$small-text-size: 12px;
$standart-text-size: 16px;
$medium-text-size: 20px;
$large-text-size: 23px;
