@use '../../variables' as vars;

.header {
	display: grid;
	grid-template-columns: vars.$grid-column-template;
	// background-color: vars.$main-color;
	// height: 50px;
	padding-block: 15px;
	text-align: center;
	border-bottom: 1.5px vars.$accent-color solid;
}
